#app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}

#app-header a {
  cursor: pointer;
}
  
#app-header ul {
  display: flex;
  list-style: none;
  margin: 0;
}
  
#app-header ul li {
  margin: 3px;
}

